<head>
  <!-- css/sidenav.css 는 manifest.json의 content_script 에서 적용되므로 아래 문구 삭제 -->
  <!-- <link rel="stylesheet" href="../css/sidenav.css" /> -->
</head>
<body>
  <div id="mySidenav" class="convert-tree-sidenav">
    <!-- 퍼온거 -->
      <div class="container-contact100">
        <a href="#" class="convert-tree-closebtn">&times;</a>

        <div class="wrap-contact100">
          <form class="contact100-form validate-form">
            <span class="contact100-form-title">
              Convert Tree
            </span>
            
            <div class="wrap-input100 validate-input" data-validate="Name is required">
              <div class="pure-css-select-style theme-rounded">
                <select name="budget" required>
                  <option value="" >From</option >
                  <option value="bin">bin</option> 
                  <option value="hex">hex</option> 
                </select>
            </div>
              <input id="fromText" class="input100" type="text" name="name" placeholder="From 값">
              <span class="focus-input100"></span>
          </div>
          
          <div class="wrap-input100 validate-input" data-validate="Name is required">
            <div class="pure-css-select-style theme-rounded">
              <select name="budget" required>
                <option value="">To</option >
                <option value="bin">bin</option>
                <option value="hex">hex</option>
              </select>
          </div>
            <input id="toText" class="input100" type="text" name="name" placeholder="To 값">
            <span class="focus-input100"></span>
        </div>
          
            <div class="container-contact100-form-btn">
              <div class="wrap-contact100-form-btn">
                <div class="contact100-form-bgbtn"></div>
                <button class="contact100-form-btn">
                  <span>
                    Submit
                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- 퍼온거 끝 -->
    </form>
  </div>
</body>
